<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://fonts.googleapis.com/css?family=Roboto"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/profile.css" />
	</head>
	<body>
		<div class="card">
			<div class="banner">
				<div class="avatar"></div>
			</div>
			<h3>Macleods</h3>
			<a href="mailto:contact@mac.com">📧 contact@mail.com</a>
			<a href="">📱 +00 000-000-0000</a>
			<ul>
				<a href="#" target="_blank"
					><i class="fa fa-twitter" style="font-size: 16px"></i
				></a>
				<a href="#" target="_blank"
					><i class="fa fa-linkedin" style="font-size: 16px"></i
				></a>
				<a href="#" target="_blank"
					><i class="fa fa-instagram" style="font-size: 16px"></i
				></a>
				<a href="#" target="_blank"
					><i class="fa fa-facebook" style="font-size: 16px"></i
				></a>
			</ul>
			<a href="/logout"><button class="btn btn-danger">Logout</button></a>
		</div>
	</body>
</html>
